In [1]:
import pandas as pd
import pickle
import numpy as np

In [2]:
df = pickle.load(open('data_extraction.pkl', 'rb'))

In [3]:
df.shape

(59909, 8)

In [4]:
df.head()

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,1,Australia,Sri Lanka,0.1,0,0,NaN,Melbourne Cricket Ground
1,1,Australia,Sri Lanka,0.2,0,0,NaN,Melbourne Cricket Ground
2,1,Australia,Sri Lanka,0.3,1,0,NaN,Melbourne Cricket Ground
3,1,Australia,Sri Lanka,0.4,2,0,NaN,Melbourne Cricket Ground
4,1,Australia,Sri Lanka,0.5,0,0,NaN,Melbourne Cricket Ground

In [5]:
# batting team
# bowling team
# city
# current score
# ball left
# current run rate
# last 5 overs

In [6]:
df.isnull().sum()

match_id               0
batting_team           0
bowling_team           0
ball                   0
runs                   0
player_dismissed       0
city                3546
venue                  0
dtype: int64

In [7]:
df[df['city'].isnull()]['venue']

0          Melbourne Cricket Ground
1          Melbourne Cricket Ground
2          Melbourne Cricket Ground
3          Melbourne Cricket Ground
4          Melbourne Cricket Ground
                    ...
48191    Rawalpindi Cricket Stadium
48192    Rawalpindi Cricket Stadium
48193    Rawalpindi Cricket Stadium
48194    Rawalpindi Cricket Stadium
48195    Rawalpindi Cricket Stadium
Name: venue, Length: 3546, dtype: object

In [8]:
cities = np.where(df['city'].isnull(), df['venue'].str.split().apply(lambda x: x[0]), df['city'])

In [9]:
cities

array(['Melbourne', 'Melbourne', 'Melbourne', ..., 'Lauderhill',
       'Lauderhill', 'Lauderhill'], dtype=object)

In [10]:
df['city'] = cities

In [11]:
df.isnull().sum()

match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [12]:
df.drop(columns=['venue'], inplace=True)

In [13]:
df.head()

   match_id batting_team bowling_team  ball  runs player_dismissed       city
0         1    Australia    Sri Lanka   0.1     0                0  Melbourne
1         1    Australia    Sri Lanka   0.2     0                0  Melbourne
2         1    Australia    Sri Lanka   0.3     1                0  Melbourne
3         1    Australia    Sri Lanka   0.4     2                0  Melbourne
4         1    Australia    Sri Lanka   0.5     0                0  Melbourne

In [14]:
df['city'].value_counts()[df['city'].value_counts() > 300]  # minimum 600 means 5 matches has been played

city
Dubai                 3404
Harare                2716
Dhaka                 2569
Colombo               2447
Abu Dhabi             2068
Lahore                1971
Sydney                1590
Auckland              1499
Lauderhill            1258
Melbourne             1241
Karachi               1236
Al Amarat             1226
Hobart                1183
Christchurch          1114
St George's           1009
Sharjah                998
Wellington             997
Dublin                 957
Mount Maunganui        942
Centurion              938
Johannesburg           887
Edinburgh              880
Adelaide               874
Southampton            866
Bridgetown             813
Gros Islet             773
Cape Town              753
Perth                  748
Cardiff                744
Ahmedabad              740
Brisbane               728
Manchester             720
Basseterre             675
Providence             656
Kolkata                634
Belfast                618
Napier                 614
Hamilton               614
Rawalpindi             611
Chattogram             599
Canberra               571
Bristol                508
Rajkot                 497
Tarouba                497
Kandy                  493
Durban                 493
Bready                 450
Lucknow                379
Nottingham             377
Indore                 377
Kingston               376
Mumbai                 375
Birmingham             374
Coolidge               372
Delhi                  371
Trinidad               364
Ranchi                 363
Thiruvananthapuram     305
Name: count, dtype: int64

In [15]:
# eligible_cities = df['city'].value_counts()[df['city'].value_counts() > 300].index.tolist()

In [16]:
# eligible_cities

In [17]:
# df = df[df['city'].isin(eligible_cities)]

In [18]:
df.shape

(59909, 7)

In [19]:
df.head()

   match_id batting_team bowling_team  ball  runs player_dismissed       city
0         1    Australia    Sri Lanka   0.1     0                0  Melbourne
1         1    Australia    Sri Lanka   0.2     0                0  Melbourne
2         1    Australia    Sri Lanka   0.3     1                0  Melbourne
3         1    Australia    Sri Lanka   0.4     2                0  Melbourne
4         1    Australia    Sri Lanka   0.5     0                0  Melbourne

In [20]:
df.shape

(59909, 7)

In [21]:
df['current_score'] = df.groupby('match_id')['runs'].cumsum()

In [22]:
df[df['match_id'] == 1]

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score
0,1,Australia,Sri Lanka,0.1,0,0,Melbourne,0
1,1,Australia,Sri Lanka,0.2,0,0,Melbourne,0
2,1,Australia,Sri Lanka,0.3,1,0,Melbourne,1
3,1,Australia,Sri Lanka,0.4,2,0,Melbourne,3
4,1,Australia,Sri Lanka,0.5,0,0,Melbourne,3
...,...,...,...,...,...,...,...,...
120,1,Australia,Sri Lanka,19.3,2,0,Melbourne,160
121,1,Australia,Sri Lanka,19.4,1,0,Melbourne,161
122,1,Australia,Sri Lanka,19.5,1,TD Paine,Melbourne,162
123,1,Australia,Sri Lanka,19.6,2,0,Melbourne,164
124,1,Australia,Sri Lanka,19.7,4,0,Melbourne,168

In [23]:
def distribute_over_ball(row):
    overs = row['ball'].astype('float').apply(lambda x: str(x).split('.')[0])
    balls = row['ball'].astype('float').apply(lambda x: str(x).split('.')[1])

    return overs, balls
    
distribute_over_ball(df)

(0          0
 1          0
 2          0
 3          0
 4          0
           ..
 151971    19
 151972    19
 151973    19
 151974    19
 151975    19
 Name: ball, Length: 59909, dtype: object,
 0         1
 1         2
 2         3
 3         4
 4         5
          ..
 151971    2
 151972    3
 151973    4
 151974    5
 151975    6
 Name: ball, Length: 59909, dtype: object)

In [24]:
overs, balls = distribute_over_ball(df)

df['overs'] = overs
df['balls'] = balls

In [25]:
df['overs'] = df['overs'].astype(int)
df['balls'] = df['balls'].astype(int)

In [26]:
df.head(10)

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,overs,balls
0,1,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1
1,1,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2
2,1,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3
3,1,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4
4,1,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5
5,1,Australia,Sri Lanka,0.6,3,0,Melbourne,6,0,6
6,1,Australia,Sri Lanka,1.1,0,0,Melbourne,6,1,1
7,1,Australia,Sri Lanka,1.2,1,0,Melbourne,7,1,2
8,1,Australia,Sri Lanka,1.3,0,0,Melbourne,7,1,3
9,1,Australia,Sri Lanka,1.4,0,0,Melbourne,7,1,4

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59909 entries, 0 to 151975
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          59909 non-null  int64
 1   batting_team      59909 non-null  object
 2   bowling_team      59909 non-null  object
 3   ball              59909 non-null  float64
 4   runs              59909 non-null  int64
 5   player_dismissed  59909 non-null  object
 6   city              59909 non-null  object
 7   current_score     59909 non-null  int64
 8   overs             59909 non-null  int32
 9   balls             59909 non-null  int32
dtypes: float64(1), int32(2), int64(3), object(4)
memory usage: 4.6+ MB

In [28]:
df['total_balls'] = (df['overs'] * 6) + df['balls']

In [29]:
df.head()

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,overs,balls,total_balls
0,1,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1
1,1,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2
2,1,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3
3,1,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4
4,1,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59909 entries, 0 to 151975
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          59909 non-null  int64
 1   batting_team      59909 non-null  object
 2   bowling_team      59909 non-null  object
 3   ball              59909 non-null  float64
 4   runs              59909 non-null  int64
 5   player_dismissed  59909 non-null  object
 6   city              59909 non-null  object
 7   current_score     59909 non-null  int64
 8   overs             59909 non-null  int32
 9   balls             59909 non-null  int32
 10  total_balls       59909 non-null  int32
dtypes: float64(1), int32(3), int64(3), object(4)
memory usage: 4.8+ MB

In [31]:
df['balls_left'] = 120 - df['total_balls']

In [32]:
df['balls_left'] = df['balls_left'].apply(lambda x: 0 if x < 0 else x)

In [33]:
df.head()

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,overs,balls,total_balls,balls_left
0,1,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119
1,1,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118
2,1,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117
3,1,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116
4,1,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115

In [34]:
df['player_dismissed'] = df['player_dismissed'].apply(lambda x: 0 if x == 0 else 1)

In [35]:
df.sample(10)

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,overs,balls,total_balls,balls_left
5031,41,West Indies,Pakistan,7.2,0,1,Barbados,37,7,2,44,76
4960,40,South Africa,Bangladesh,15.5,6,0,Potchefstroom,150,15,5,95,25
74052,610,Bangladesh,Pakistan,19.4,0,0,Dhaka,119,19,4,118,2
20731,172,Sri Lanka,Australia,10.5,1,0,Melbourne,69,10,5,65,55
62499,517,Bangladesh,New Zealand,19.2,1,0,Dhaka,133,19,2,116,4
25531,212,West Indies,India,12.3,1,0,Hyderabad,122,12,3,75,45
56757,469,West Indies,Australia,6.6,0,0,Gros Islet,53,6,6,42,78
50194,416,South Africa,England,1.5,0,0,Paarl,9,1,5,11,109
788,7,India,Zimbabwe,6.3,1,0,Harare,32,6,3,39,81
14590,119,South Africa,Sri Lanka,17.6,1,0,Johannesburg,173,17,6,108,12

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59909 entries, 0 to 151975
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          59909 non-null  int64
 1   batting_team      59909 non-null  object
 2   bowling_team      59909 non-null  object
 3   ball              59909 non-null  float64
 4   runs              59909 non-null  int64
 5   player_dismissed  59909 non-null  int64
 6   city              59909 non-null  object
 7   current_score     59909 non-null  int64
 8   overs             59909 non-null  int32
 9   balls             59909 non-null  int32
 10  total_balls       59909 non-null  int32
 11  balls_left        59909 non-null  int64
dtypes: float64(1), int32(3), int64(5), object(3)
memory usage: 5.3+ MB

In [37]:
df['player_dismissed'] = df.groupby('match_id')['player_dismissed'].cumsum()

In [38]:
df[df['match_id'] == 1]

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,overs,balls,total_balls,balls_left
0,1,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119
1,1,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118
2,1,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117
3,1,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116
4,1,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115
...,...,...,...,...,...,...,...,...,...,...,...,...
120,1,Australia,Sri Lanka,19.3,2,5,Melbourne,160,19,3,117,3
121,1,Australia,Sri Lanka,19.4,1,5,Melbourne,161,19,4,118,2
122,1,Australia,Sri Lanka,19.5,1,6,Melbourne,162,19,5,119,1
123,1,Australia,Sri Lanka,19.6,2,6,Melbourne,164,19,6,120,0
124,1,Australia,Sri Lanka,19.7,4,6,Melbourne,168,19,7,121,0

In [39]:
df['wickets_left'] = 10 - df['player_dismissed']

In [40]:
df[df['match_id'] == 1]

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,overs,balls,total_balls,balls_left,wickets_left
0,1,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119,10
1,1,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118,10
2,1,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117,10
3,1,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116,10
4,1,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,1,Australia,Sri Lanka,19.3,2,5,Melbourne,160,19,3,117,3,5
121,1,Australia,Sri Lanka,19.4,1,5,Melbourne,161,19,4,118,2,5
122,1,Australia,Sri Lanka,19.5,1,6,Melbourne,162,19,5,119,1,4
123,1,Australia,Sri Lanka,19.6,2,6,Melbourne,164,19,6,120,0,4
124,1,Australia,Sri Lanka,19.7,4,6,Melbourne,168,19,7,121,0,4

In [41]:
df['run_rate'] = (df['current_score'] * 6) / df['total_balls']

In [42]:
df[df['match_id'] == 1]

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,overs,balls,total_balls,balls_left,wickets_left,run_rate
0,1,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119,10,0.000000
1,1,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118,10,0.000000
2,1,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117,10,2.000000
3,1,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116,10,4.500000
4,1,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115,10,3.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,1,Australia,Sri Lanka,19.3,2,5,Melbourne,160,19,3,117,3,5,8.205128
121,1,Australia,Sri Lanka,19.4,1,5,Melbourne,161,19,4,118,2,5,8.186441
122,1,Australia,Sri Lanka,19.5,1,6,Melbourne,162,19,5,119,1,4,8.168067
123,1,Australia,Sri Lanka,19.6,2,6,Melbourne,164,19,6,120,0,4,8.200000
124,1,Australia,Sri Lanka,19.7,4,6,Melbourne,168,19,7,121,0,4,8.330579

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59909 entries, 0 to 151975
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          59909 non-null  int64
 1   batting_team      59909 non-null  object
 2   bowling_team      59909 non-null  object
 3   ball              59909 non-null  float64
 4   runs              59909 non-null  int64
 5   player_dismissed  59909 non-null  int64
 6   city              59909 non-null  object
 7   current_score     59909 non-null  int64
 8   overs             59909 non-null  int32
 9   balls             59909 non-null  int32
 10  total_balls       59909 non-null  int32
 11  balls_left        59909 non-null  int64
 12  wickets_left      59909 non-null  int64
 13  run_rate          59909 non-null  float64
dtypes: float64(2), int32(3), int64(6), object(3)
memory usage: 6.2+ MB

In [44]:
# Check for NaN values in the entire DataFrame
print(df.isna().sum())

match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
current_score       0
overs               0
balls               0
total_balls         0
balls_left          0
wickets_left        0
run_rate            0
dtype: int64

In [45]:
groups = df.groupby('match_id')

In [46]:
groups

In [47]:
match_ids = df['match_id'].unique()

In [48]:
match_ids

array([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,   11,
         12,   13,   14,   15,   16,   17,   18,   19,   20,   21,   22,
         23,   24,   25,   26,   27,   28,   29,   30,   31,   33,   37,
         38,   39,   40,   41,   42,   43,   44,   45,   46,   50,   51,
         52,   53,   54,   55,   56,   57,   61,   62,   63,   64,   65,
         66,   67,   68,   69,   70,   71,   72,   73,   74,   75,   76,
         77,   78,   79,   80,   81,   82,   83,   84,   85,   86,   87,
         88,   89,   90,   91,   92,   93,   94,   95,  100,  101,  104,
        105,  106,  107,  108,  109,  110,  111,  112,  113,  114,  115,
        116,  117,  118,  119,  120,  121,  122,  123,  124,  125,  126,
        127,  128,  129,  130,  131,  132,  133,  134,  135,  136,  137,
        138,  139,  140,  141,  142,  143,  144,  145,  146,  148,  149,
        150,  151,  156,  158,  160,  170,  171,  172,  173,  174,  175,
        196,  197,  198,  199,  200,  201,  207,  208,  209,  210,  211,
        212,  213,  214,  215,  216,  217,  218,  219,  220,  221,  222,
        223,  224,  227,  228,  229,  245,  246,  247,  248,  249,  266,
        269,  274,  275,  276,  277,  278,  279,  280,  281,  282,  284,
        295,  298,  328,  329,  335,  353,  354,  355,  356,  357,  364,
        365,  366,  367,  388,  389,  390,  395,  396,  397,  398,  399,
        400,  401,  402,  403,  404,  405,  406,  407,  408,  409,  410,
        411,  415,  416,  417,  418,  419,  420,  421,  422,  423,  424,
        425,  426,  427,  428,  429,  430,  431,  432,  433,  434,  435,
        436,  437,  438,  439,  440,  441,  442,  443,  444,  445,  446,
        447,  448,  449,  460,  461,  462,  463,  464,  465,  466,  467,
        468,  469,  470,  471,  472,  473,  474,  475,  476,  477,  478,
        479,  480,  481,  493,  494,  495,  501,  502,  503,  504,  505,
        513,  514,  515,  516,  517,  518,  519,  520,  521,  522,  523,
        524,  525,  539,  540,  541,  543,  547,  549,  551,  554,  555,
        556,  557,  558,  559,  560,  562,  563,  564,  565,  566,  567,
        568,  570,  571,  572,  574,  575,  576,  577,  579,  580,  581,
        602,  603,  604,  605,  606,  607,  608,  609,  610,  611,  612,
        613,  614,  615,  616,  617,  618,  619,  620,  621,  622,  623,
        624,  709,  710,  711,  712,  729,  730,  733,  734,  737,  738,
        739,  740,  741,  743,  744,  745,  746,  748,  749,  750,  752,
        753,  754,  756,  757,  758,  759,  761,  762,  763,  764,  765,
        781,  788,  792,  793,  794,  795,  796,  797,  798,  806,  807,
        808,  809,  810,  853,  854,  855,  856,  857,  858,  859,  860,
        861,  862,  863,  864,  865,  866,  867,  868,  974,  975,  976,
        977,  978,  979,  980,  981,  982,  983,  984,  985,  986,  987,
        988,  992,  993,  994,  995,  996,  997,  998,  999, 1000, 1001,
       1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012,
       1052, 1053, 1054, 1055, 1067, 1068, 1069, 1070, 1071, 1072, 1073,
       1074, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1167,
       1168, 1169, 1175, 1176, 1177, 1216, 1217, 1218, 1219, 1220, 1221,
       1222, 1223, 1224, 1225, 1226, 1250, 1251, 1252, 1253, 1254],
      dtype=int64)

In [49]:
last_five = []

for id in match_ids:
    group_df = groups.get_group(id)  # Get DataFrame for each group
    numeric_cols = group_df.select_dtypes(include=['number'])  # Select numeric columns
    rolling_sum = numeric_cols.rolling(window=30).sum()  # Compute rolling sum
    last_five.extend(rolling_sum['runs'].values.tolist())  # Keep NaNs as well

In [50]:
len(last_five)

59909

In [51]:
last_five

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 43.0,
 44.0,
 45.0,
 44.0,
 42.0,
 43.0,
 41.0,
 41.0,
 41.0,
 42.0,
 42.0,
 39.0,
 38.0,
 39.0,
 38.0,
 39.0,
 40.0,
 37.0,
 41.0,
 42.0,
 42.0,
 44.0,
 44.0,
 40.0,
 39.0,
 37.0,
 35.0,
 31.0,
 27.0,
 26.0,
 31.0,
 31.0,
 30.0,
 31.0,
 31.0,
 32.0,
 31.0,
 31.0,
 36.0,
 37.0,
 37.0,
 37.0,
 37.0,
 36.0,
 36.0,
 36.0,
 36.0,
 35.0,
 32.0,
 32.0,
 31.0,
 29.0,
 29.0,
 31.0,
 32.0,
 32.0,
 32.0,
 33.0,
 36.0,
 37.0,
 37.0,
 39.0,
 41.0,
 40.0,
 41.0,
 41.0,
 42.0,
 44.0,
 39.0,
 43.0,
 45.0,
 48.0,
 48.0,
 48.0,
 49.0,
 49.0,
 49.0,
 51.0,
 51.0,
 51.0,
 52.0,
 52.0,
 53.0,
 53.0,
 53.0,
 54.0,
 53.0,
 52.0,
 50.0,
 53.0,
 47.0,
 46.0,
 45.0,
 46.0,
 47.0,
 49.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 35.0,
 36.0,
 37.0,
 41.0,
 37.0,
 42.0,
 47.0,
 46.0,
 51.0,
 50.0,
 49.0,
 46.0,
 46.0,
 47.0,
 47.0,
 47.0,
 47.0,
 47.0,
 48.0,
 49.0,
 48.0,
 47.0,
 49.0,
 46.0,
 46.0,
 43.0,
 44.0,
 44.0,
 46.0,
 45.0,
 42.0,
 43.0,
 42.0,
 44.0,
 45.0,
 39.0,
 34.0,
 35.0,
 35.0,
 36.0,
 39.0,
 38.0,
 39.0,
 38.0,
 39.0,
 38.0,
 39.0,
 40.0,
 40.0,
 40.0,
 44.0,
 45.0,
 43.0,
 43.0,
 43.0,
 43.0,
 43.0,
 45.0,
 45.0,
 45.0,
 45.0,
 44.0,
 44.0,
 39.0,
 39.0,
 41.0,
 42.0,
 42.0,
 39.0,
 37.0,
 34.0,
 36.0,
 39.0,
 41.0,
 41.0,
 41.0,
 46.0,
 46.0,
 49.0,
 49.0,
 46.0,
 46.0,
 48.0,
 48.0,
 47.0,
 47.0,
 47.0,
 47.0,
 47.0,
 48.0,
 47.0,
 50.0,
 49.0,
 48.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 46.0,
 52.0,
 53.0,
 57.0,
 58.0,
 59.0,
 59.0,
 59.0,
 53.0,
 53.0,
 54.0,
 50.0,
 50.0,
 49.0,
 50.0,
 47.0,
 48.0,
 49.0,
 49.0,
 46.0,
 46.0,
 51.0,
 48.0,
 48.0,
 48.0,
 44.0,
 45.0,
 42.0,
 43.0,
 40.0,
 39.0,
 39.0,
 39.0,
 36.0,
 35.0,
 39.0,
 39.0,
 38.0,
 38.0,
 37.0,
 37.0,
 38.0,
 39.0,
 41.0,
 40.0,
 40.0,
 39.0,
 38.0,
 39.0,
 42.0,
 47.0,
 42.0,
 45.0,
 45.0,
 49.0,
 49.0,
 48.0,
 47.0,
 45.0,
 45.0,
 45.0,
 40.0,
 41.0,
 41.0,
 42.0,
 37.0,
 38.0,
 39.0,
 43.0,
 46.0,
 47.0,
 47.0,
 46.0,
 50.0,
 56.0,
 57.0,
 60.0,
 59.0,
 59.0,
 55.0,
 51.0,
 51.0,
 51.0,
 53.0,
 51.0,
 51.0,
 52.0,
 53.0,
 54.0,
 53.0,
 54.0,
 53.0,
 52.0,
 51.0,
 51.0,
 51.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 41.0,
 42.0,
 47.0,
 51.0,
 51.0,
 55.0,
 55.0,
 59.0,
 53.0,
 53.0,
 54.0,
 51.0,
 52.0,
 52.0,
 51.0,
 50.0,
 51.0,
 52.0,
 51.0,
 51.0,
 48.0,
 49.0,
 49.0,
 45.0,
 42.0,
 41.0,
 42.0,
 46.0,
 43.0,
 42.0,
 43.0,
 42.0,
 39.0,
 33.0,
 34.0,
 31.0,
 32.0,
 31.0,
 32.0,
 31.0,
 29.0,
 29.0,
 29.0,
 30.0,
 30.0,
 30.0,
 29.0,
 30.0,
 31.0,
 32.0,
 32.0,
 35.0,
 36.0,
 36.0,
 35.0,
 35.0,
 34.0,
 28.0,
 27.0,
 28.0,
 29.0,
 34.0,
 34.0,
 35.0,
 34.0,
 37.0,
 37.0,
 35.0,
 35.0,
 36.0,
 37.0,
 36.0,
 36.0,
 36.0,
 36.0,
 40.0,
 44.0,
 43.0,
 44.0,
 44.0,
 43.0,
 39.0,
 39.0,
 43.0,
 44.0,
 43.0,
 43.0,
 44.0,
 44.0,
 49.0,
 47.0,
 42.0,
 43.0,
 42.0,
 43.0,
 40.0,
 39.0,
 39.0,
 40.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 33.0,
 34.0,
 34.0,
 35.0,
 35.0,
 36.0,
 39.0,
 40.0,
 35.0,
 36.0,
 39.0,
 40.0,
 36.0,
 37.0,
 37.0,
 37.0,
 38.0,
 38.0,
 37.0,
 35.0,
 35.0,
 30.0,
 29.0,
 30.0,
 34.0,
 35.0,
 35.0,
 36.0,
 36.0,
 38.0,
 39.0,
 39.0,
 40.0,
 40.0,
 40.0,
 41.0,
 39.0,
 39.0,
 42.0,
 42.0,
 38.0,
 40.0,
 41.0,
 40.0,
 40.0,
 41.0,
 41.0,
 40.0,
 41.0,
 37.0,
 37.0,
 36.0,
 37.0,
 36.0,
 32.0,
 32.0,
 33.0,
 32.0,
 33.0,
 32.0,
 33.0,
 38.0,
 37.0,
 36.0,
 36.0,
 35.0,
 34.0,
 34.0,
 30.0,
 30.0,
 36.0,
 33.0,
 33.0,
 39.0,
 35.0,
 34.0,
 33.0,
 34.0,
 34.0,
 35.0,
 36.0,
 37.0,
 40.0,
 46.0,
 48.0,
 48.0,
 48.0,
 54.0,
 53.0,
 53.0,
 57.0,
 52.0,
 53.0,
 59.0,
 58.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 28.0,
 28.0,
 28.0,
 28.0,
 29.0,
 30.0,
 30.0,
 26.0,
 26.0,
 25.0,
 26.0,
 26.0,
 26.0,
 26.0,
 26.0,
 27.0,
 30.0,
 29.0,
 30.0,
 31.0,
 31.0,
 31.0,
 27.0,
 27.0,
 27.0,
 26.0,
 22.0,
 22.0,
 22.0,
 21.0,
 22.0,
 23.0,
 24.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 22.0,
 22.0,
 21.0,
 21.0,
 20.0,
 20.0,
 20.0,
 24.0,
 20.0,
 24.0,
 23.0,
 22.0,
 22.0,
 23.0,
 23.0,
 23.0,
 24.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 24.0,
 24.0,
 23.0,
 23.0,
 21.0,
 20.0,
 24.0,
 24.0,
 23.0,
 23.0,
 24.0,
 24.0,
 25.0,
 26.0,
 26.0,
 20.0,
 21.0,
 17.0,
 18.0,
 19.0,
 18.0,
 17.0,
 17.0,
 17.0,
 16.0,
 15.0,
 15.0,
 15.0,
 17.0,
 18.0,
 17.0,
 17.0,
 23.0,
 23.0,
 23.0,
 23.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 27.0,
 28.0,
 28.0,
 28.0,
 29.0,
 29.0,
 29.0,
 30.0,
 29.0,
 29.0,
 29.0,
 28.0,
 30.0,
 30.0,
 27.0,
 21.0,
 18.0,
 18.0,
 18.0,
 19.0,
 19.0,
 19.0,
 22.0,
 22.0,
 22.0,
 26.0,
 23.0,
 24.0,
 26.0,
 26.0,
 26.0,
 25.0,
 25.0,
 29.0,
 29.0,
 29.0,
 31.0,
 31.0,
 30.0,
 31.0,
 35.0,
 36.0,
 35.0,
 35.0,
 34.0,
 38.0,
 39.0,
 39.0,
 38.0,
 39.0,
 40.0,
 41.0,
 37.0,
 37.0,
 36.0,
 36.0,
 36.0,
 35.0,
 33.0,
 33.0,
 33.0,
 34.0,
 34.0,
 31.0,
 32.0,
 33.0,
 33.0,
 32.0,
 32.0,
 30.0,
 26.0,
 25.0,
 24.0,
 25.0,
 26.0,
 28.0,
 27.0,
 27.0,
 27.0,
 29.0,
 32.0,
 32.0,
 34.0,
 34.0,
 37.0,
 37.0,
 36.0,
 37.0,
 38.0,
 40.0,
 42.0,
 43.0,
 49.0,
 50.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 28.0,
 29.0,
 30.0,
 30.0,
 30.0,
 29.0,
 27.0,
 26.0,
 29.0,
 29.0,
 30.0,
 30.0,
 31.0,
 27.0,
 27.0,
 27.0,
 27.0,
 28.0,
 30.0,
 35.0,
 34.0,
 30.0,
 36.0,
 36.0,
 37.0,
 38.0,
 37.0,
 36.0,
 37.0,
 33.0,
 34.0,
 35.0,
 35.0,
 35.0,
 36.0,
 36.0,
 37.0,
 37.0,
 33.0,
 33.0,
 33.0,
 33.0,
 33.0,
 33.0,
 32.0,
 32.0,
 33.0,
 32.0,
 30.0,
 26.0,
 27.0,
 26.0,
 20.0,
 20.0,
 20.0,
 19.0,
 18.0,
 23.0,
 23.0,
 23.0,
 22.0,
 20.0,
 20.0,
 26.0,
 26.0,
 27.0,
 27.0,
 28.0,
 29.0,
 30.0,
 30.0,
 30.0,
 29.0,
 29.0,
 30.0,
 30.0,
 30.0,
 34.0,
 34.0,
 39.0,
 38.0,
 38.0,
 39.0,
 39.0,
 38.0,
 38.0,
 39.0,
 33.0,
 32.0,
 33.0,
 34.0,
 38.0,
 38.0,
 38.0,
 38.0,
 38.0,
 38.0,
 37.0,
 ...]

In [52]:
df['last_five'] = last_five

In [53]:
df.head()

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,overs,balls,total_balls,balls_left,wickets_left,run_rate,last_five
0,1,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119,10,0.0,NaN
1,1,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118,10,0.0,NaN
2,1,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117,10,2.0,NaN
3,1,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116,10,4.5,NaN
4,1,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115,10,3.6,NaN

In [54]:
final_df = df.groupby('match_id').sum()['runs'].reset_index().merge(df, on='match_id')

In [55]:
final_df

,match_id,runs_x,batting_team,bowling_team,ball,runs_y,player_dismissed,city,current_score,overs,balls,total_balls,balls_left,wickets_left,run_rate,last_five
0,1,168,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119,10,0.000000,NaN
1,1,168,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118,10,0.000000,NaN
2,1,168,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117,10,2.000000,NaN
3,1,168,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116,10,4.500000,NaN
4,1,168,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115,10,3.600000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59904,1254,165,India,West Indies,19.2,4,8,Lauderhill,153,19,2,116,4,2,7.913793,42.0
59905,1254,165,India,West Indies,19.3,6,8,Lauderhill,159,19,3,117,3,2,8.153846,48.0
59906,1254,165,India,West Indies,19.4,2,8,Lauderhill,161,19,4,118,2,2,8.186441,49.0
59907,1254,165,India,West Indies,19.5,0,9,Lauderhill,161,19,5,119,1,1,8.117647,43.0
59908,1254,165,India,West Indies,19.6,4,9,Lauderhill,165,19,6,120,0,1,8.250000,46.0

In [56]:
final_df = final_df[['batting_team', 'bowling_team', 'city', 'current_score', 'balls_left', 'wickets_left', 'run_rate', 'last_five', 'runs_x']]

In [57]:
final_df.shape

(59909, 9)

In [58]:
final_df.head()

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,run_rate,last_five,runs_x
0,Australia,Sri Lanka,Melbourne,0,119,10,0.0,NaN,168
1,Australia,Sri Lanka,Melbourne,0,118,10,0.0,NaN,168
2,Australia,Sri Lanka,Melbourne,1,117,10,2.0,NaN,168
3,Australia,Sri Lanka,Melbourne,3,116,10,4.5,NaN,168
4,Australia,Sri Lanka,Melbourne,3,115,10,3.6,NaN,168

In [59]:
final_df.isnull().sum()

batting_team         0
bowling_team         0
city                 0
current_score        0
balls_left           0
wickets_left         0
run_rate             0
last_five        14274
runs_x               0
dtype: int64

In [60]:
# final_df.dropna(inplace=True)

In [61]:
final_df.fillna(0, inplace=True)

C:\Users\write\AppData\Local\Temp\ipykernel_6820\3615795286.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.fillna(0, inplace=True)

In [62]:
final_df.isnull().sum()

batting_team     0
bowling_team     0
city             0
current_score    0
balls_left       0
wickets_left     0
run_rate         0
last_five        0
runs_x           0
dtype: int64

In [63]:
final_df.shape

(59909, 9)

In [64]:
final_df = final_df.sample(final_df.shape[0], random_state=42)

In [65]:
final_df

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,run_rate,last_five,runs_x
53961,India,Australia,Chandigarh,2,116,10,3.000000,0.0,208
32412,Australia,West Indies,Gros Islet,41,90,10,8.200000,37.0,141
1180,New Zealand,Bangladesh,Mount Maunganui,46,71,7,5.632653,26.0,194
18276,South Africa,India,Chandigarh,131,9,5,7.081081,31.0,149
53884,Sri Lanka,Pakistan,Dubai,54,73,6,6.893617,32.0,170
...,...,...,...,...,...,...,...,...,...
54343,South Africa,India,Thiruvananthapuram,62,33,4,4.275862,16.0,106
38158,Sri Lanka,South Africa,Sharjah,86,46,6,6.972973,41.0,142
860,India,Zimbabwe,Harare,112,11,5,6.165138,32.0,138
15795,England,West Indies,Basseterre,133,16,5,7.673077,51.0,182
56422,Ireland,Zimbabwe,Harare,125,11,4,6.880734,36.0,141

In [66]:
# working on ML algorithm

In [67]:
X = final_df.drop(columns = ['runs_x'])
y = final_df['runs_x']

In [68]:
from sklearn.model_selection import train_test_split

In [69]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [70]:
X_train.shape

(47927, 8)

In [71]:
X_test.shape

(11982, 8)

In [72]:
X_train.head()

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,run_rate,last_five
9392,India,Bangladesh,Colombo,92,43,9,7.168831,29.0
59115,Australia,West Indies,Adelaide,146,38,6,10.682927,61.0
37848,Sri Lanka,Australia,Dubai,25,101,9,7.894737,0.0
48118,New Zealand,Scotland,Edinburgh,98,51,9,8.521739,38.0
38899,Bangladesh,Australia,Dubai,65,45,2,5.200000,20.0

In [73]:
X_test

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,run_rate,last_five
57596,Bangladesh,Ireland,Chattogram,76,86,10,13.411765,67.0
21978,England,Pakistan,Manchester,39,79,9,5.707317,32.0
47381,Ireland,New Zealand,Belfast,94,43,6,7.324675,40.0
45796,New Zealand,Ireland,Adelaide,64,70,9,7.680000,43.0
48333,Bangladesh,West Indies,Roseau,52,89,8,10.064516,50.0
...,...,...,...,...,...,...,...,...
28568,Sri Lanka,England,Cardiff,44,79,8,6.439024,35.0
18364,India,South Africa,Bengaluru,90,45,7,7.200000,26.0
28797,England,Sri Lanka,Southampton,23,95,10,5.520000,0.0
17130,Pakistan,Australia,Sydney,63,63,8,6.631579,32.0
13177,Bangladesh,West Indies,St Kitts,130,16,3,7.500000,23.0

In [74]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score, mean_absolute_error

In [75]:
trf = ColumnTransformer(transformers=[
    ('trf', OneHotEncoder(sparse_output=False, drop='first'), ['batting_team', 'bowling_team', 'city']),
], remainder='passthrough')

In [76]:
trf

ColumnTransformer(remainder='passthrough',
                  transformers=[('trf',
                                 OneHotEncoder(drop='first',
                                               sparse_output=False),
                                 ['batting_team', 'bowling_team', 'city'])])

In [77]:
pipe = Pipeline(steps=[
    ('step1', trf),
    ('step2', StandardScaler()),
    ('step3', XGBRegressor(n_estimators=1000, learning_rate=0.3, max_depth=12, random_state=1))
    # ('step3', RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=1, verbose=2)) # not giving great accuracy
    
])

In [78]:
pipe.fit(X_train, y_train)

C:\Users\write\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\compose\_column_transformer.py:1623: FutureWarning:
The format of the columns of the 'remainder' transformer in ColumnTransformer.transformers_ will change in version 1.7 to match the format of the other transformers.
At the moment the remainder columns are stored as indices (of type int). With the same ColumnTransformer configuration, in the future they will be stored as column names (of type str).
To use the new behavior now and suppress this warning, use ColumnTransformer(force_int_remainder_cols=False).

  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', StandardScaler()),
                ('step3',
                 XGBRegressor(base_score=None, booster=None, callbacks=None,
                              colsample_bylevel=None, colsample_bynode=None,
                              colsample_bytree=None, device=None...
                              feature_types=None, gamma=None, grow_policy=None,
                              importance_type=None,
                              interaction_constraints=None, learning_rate=0.3,
                              max_bin=None, max_cat_threshold=None,
                              max_cat_to_onehot=None, max_delta_step=None,
                              max_depth=12, max_leaves=None,
                              min_child_weight=None, missing=nan,
                              monotone_constraints=None, multi_strategy=None,
                              n_estimators=1000, n_jobs=None,
                              num_parallel_tree=None, random_state=1, ...))])

In [79]:
y_pred = pipe.predict(X_test)

In [80]:
print(r2_score(y_pred, y_test))

0.9622896313667297

In [81]:
print(mean_absolute_error(y_pred, y_test))

2.5324445314428043

In [82]:
# score without NaN of the last five over values
0.9868133068084717
1.77016492795874

1.77016492795874

In [83]:
pickle.dump(pipe, open('pipe.pkl', 'wb'))